body {
  margin: 0;
}
#container {
  margin: 90px auto;
  max-width: 340px;
  border: none;
  padding: 20px;
  text-align: center;
}
#login img {
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
